// _colors.scss

$main: #224f3c;
$accent: #f95900;
$background: #fffaf1;
$text: #3e4945;
$white: #fff;
$blue: #c7e4f2;
$red: #ffe6dc;

$accent-light: #fcf0eb;
$accent-lighter: #e3733f;
$main-light: #d6e8d0;
$main-lighter: #f0ffdc;

$table-row: #fff3dd;
