@use "gutters";
@use "colors";

// Fonts

// Global

* {
  box-sizing: border-box;
  margin: 0;
  &:focus {
    outline: none;
  }
}

body {
  background-color: colors.$background;
  color: colors.$text;
  font-family: Poppins;
  position: relative;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: gutters.$small;
  padding: 0;
  flex-grow: 1;
  text-align: justify;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

button {
  font-family: Poppins;
}

h2 {
  font-weight: 400;
}
